{% set snmp = salt['grains.filter_by']( {
  'Debian': {
    'package': 'snmp',
    'service': 'snmp',
    'config': '/etc/snmp/snmp.conf',
  },
  'RedHat': {
    'package': 'snmp',
    'service': 'snmpd',
    'config': '/etc/snmp/snmp.conf',
  },
}, merge=salt['pillar.get']('snmp:lookup')) %}
