# pending to change Debian and RedHat use different repos and packages for ntopng
# kami - October 20, 2014

{% set snmp = salt['grains.filter_by']( {
  'Debian': {
    'package': 'snmp',
  },
  'RedHat': {
    'package': 'net-snmp-utils',
  },
}, merge=salt['pillar.get']('snmp:lookup:client')) %}


